absl-py==0.7.0
alabaster==0.7.12
astor==0.7.1
Babel==2.6.0
certifi==2018.11.29
chardet==3.0.4
cloudpickle==0.8.0
cycler==0.10.0
dask==1.1.2
decorator==4.3.2
docutils==0.14
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
idna==2.8
imagesize==1.1.0
Jinja2==2.10
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
latexcodec==1.0.6
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==3.0.2
networkx==2.2
numpy==1.16.1
oset==0.1.3
packaging==19.0
Pillow==8.2.0
pockets==0.7.2
protobuf==3.6.1
pybtex==0.22.2
pybtex-docutils==0.2.1
Pygments==2.3.1
pyparsing==2.3.1
PyQt5==5.12
PyQt5-sip==4.19.14
python-dateutil==2.8.0
pytz==2018.9
PyWavelets==1.0.2
PyYAML==3.13
QDarkStyle==2.6.5
requests==2.21.0
scikit-image==0.14.2
scikit-learn==0.20.2
scipy==1.2.1
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.4
sphinx-rtd-theme==0.4.3
sphinxcontrib-bibtex==0.4.2
sphinxcontrib-napoleon==0.7
sphinxcontrib-websupport==1.1.0
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
toolz==0.9.0
urllib3==1.24.1
Werkzeug==0.14.1
